@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;1,100;1,200&display=swap');

body {

  background-color: black;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 200%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
  padding-bottom: 30px;
  font-size: 300%;
}

img {
  max-width: 100%;
  height: 90%;
  width: 85%;
}

.product-card {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  display: block;
}

button {
  margin-bottom: 10%;
  border-radius: 25px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 176%;
  color: white;
  background-color: black;
  height: 50px;
  width: 85%;
}

h1.popup-title {
  color: black;
  font-family: 'Raleway', sans-serif;
}

.popup-para {
  color: white;
  font-family: 'Raleway', sans-serif;
}

.close {
  width: auto;
  background: white;
  margin-bottom: 0%;
  background: transparent;
  float: right;
}

.popupbox {
  color: black;
  z-index: 10000000 !important;
}

ul {
  text-align: center;
  list-style-position: inside;
}

p {
  color: black;
  font-family: 'Raleway', sans-serif;
}

i{
  background-color: white;
  color: black
}

#popupBox {
    display: block;
    background: white;
    margin-top: 50%;
    padding-bottom: 7%;
    z-index: 100000 !important;
    border-radius: 4%;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
    margin-left: 30%;
} 

.popupinside {
    clear: both;
}

.card{
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  display: block;
}